ICPs/ICP-4/Flow.txt
[{"id":"39b55f7f.842d5","type":"tab","label":"ICP 4","disabled":false,"info":""},{"id":"625a6be2.c7cd14","type":"openweathermap","z":"39b55f7f.842d5","name":"Weather","wtype":"current","lon":"","lat":"","city":"Olathe","country":"United States","language":"en","x":260,"y":260,"wires":[["d0de0161.fd7d5","4b78faa1.af7da4","d4485bdd.2b0f78","bf36da2a.5bb608","23f2242f.37afdc","47ab9834.4a2548"]]},{"id":"47ab9834.4a2548","type":"function","z":"39b55f7f.842d5","name":"Weather","func":"var weather = \"Weather update: \"+ msg.payload.description;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["9db840f4.6e91f"]]},{"id":"bd51ff09.76e94","type":"inject","z":"39b55f7f.842d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":260,"wires":[["625a6be2.c7cd14"]]},{"id":"d0de0161.fd7d5","type":"debug","z":"39b55f7f.842d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":40,"wires":[]},{"id":"d4485bdd.2b0f78","type":"ui_text","z":"39b55f7f.842d5","group":"21d8a015.7e335","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.tempc}}","layout":"row-spread","x":510,"y":100,"wires":[]},{"id":"4b78faa1.af7da4","type":"ui_text","z":"39b55f7f.842d5","group":"21d8a015.7e335","order":1,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload.weather}}","layout":"row-spread","x":500,"y":180,"wires":[]},{"id":"bf36da2a.5bb608","type":"ui_text","z":"39b55f7f.842d5","group":"21d8a015.7e335","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload.humidity}}","layout":"row-spread","x":500,"y":260,"wires":[]},{"id":"23f2242f.37afdc","type":"ui_text","z":"39b55f7f.842d5","group":"21d8a015.7e335","order":0,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload.location}}","layout":"row-spread","x":500,"y":320,"wires":[]},{"id":"9db840f4.6e91f","type":"twitter out","z":"39b55f7f.842d5","twitter":"","name":"Tweet","x":730,"y":240,"wires":[]},{"id":"21d8a015.7e335","type":"ui_group","z":"","name":"Weather","tab":"8faa297d.a6eff8","disp":true,"width":"6","collapse":false},{"id":"8faa297d.a6eff8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]