ICPs/ICP-5/Source Code/ICP5.txt
[{"id":"ae3cbc99.c1cb9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"540aab64.6b8444","type":"switch","z":"ae3cbc99.c1cb9","name":"","property":"payload.tempc","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"str"},{"t":"lte","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":440,"wires":[["e77da795.e932b8","2e181fa7.62115"],["4c1dc153.50bf8","3775c5c1.53b24a"]]},{"id":"2fbb939c.9f448c","type":"openweathermap","z":"ae3cbc99.c1cb9","name":"Weather","wtype":"current","lon":"","lat":"","city":"Olathe","country":"United States","language":"en","x":300,"y":440,"wires":[["540aab64.6b8444","2d7cfa02.fdea46","e3e4d088.7a8a"]]},{"id":"22e7af4.3cd135","type":"inject","z":"ae3cbc99.c1cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["2fbb939c.9f448c"]]},{"id":"e77da795.e932b8","type":"change","z":"ae3cbc99.c1cb9","name":"Change weather","rules":[{"t":"change","p":"payload.weather","pt":"msg","from":"Clear","fromt":"str","to":"Yay! Sky is clear and it is warm.","tot":"str"},{"t":"change","p":"payload.location","pt":"msg","from":"Olathe","fromt":"str","to":"City of Olathe in Kansas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[["cfa2e4c9.b60c68","982e5c37.8a422","2aaacb08.07c9a4"]]},{"id":"4c1dc153.50bf8","type":"change","z":"ae3cbc99.c1cb9","name":"Change weather","rules":[{"t":"change","p":"payload.weather","pt":"msg","from":"Clear","fromt":"str","to":"Sky is clear but it is still cold! Stay Warm.","tot":"str"},{"t":"change","p":"payload.location","pt":"msg","from":"Olathe","fromt":"str","to":"City of Olathe in Kansas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":660,"wires":[["cfa2e4c9.b60c68","31eff0cd.94d7b","f16066c6.3f3928","d0dd62de.b82ad","a176112d.35f34"]]},{"id":"cfa2e4c9.b60c68","type":"range","z":"ae3cbc99.c1cb9","minin":"1","maxin":"100","minout":"1","maxout":"10","action":"clamp","round":true,"property":"payload.humidity","name":"","x":1790,"y":500,"wires":[["8bf55844.dd4b48","c85cb4e4.c425c8","2e38b05c.ce19"]]},{"id":"982e5c37.8a422","type":"debug","z":"ae3cbc99.c1cb9","name":"Output Chanage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather","x":2340,"y":220,"wires":[]},{"id":"31eff0cd.94d7b","type":"debug","z":"ae3cbc99.c1cb9","name":"Output Chanage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather","x":2340,"y":680,"wires":[]},{"id":"8bf55844.dd4b48","type":"debug","z":"ae3cbc99.c1cb9","name":"Output Range","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.humidity","x":2340,"y":500,"wires":[]},{"id":"c85cb4e4.c425c8","type":"rbe","z":"ae3cbc99.c1cb9","name":"Temperature greater then 75%","func":"narrowband","gap":"75%","start":"","inout":"out","property":"payload.tempc","x":2030,"y":400,"wires":[["e435eb4f.541628","296c526b.5906ae"]]},{"id":"e435eb4f.541628","type":"debug","z":"ae3cbc99.c1cb9","name":"Output RBE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.tempc","x":2330,"y":400,"wires":[]},{"id":"2d7cfa02.fdea46","type":"template","z":"ae3cbc99.c1cb9","name":"Weather Templet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<!------ Include the above in your HEAD tag ---------->\n</head>\n<body>\n<div ng-bind-html=\"msg.payload\" class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col\">\n\t\t\t<div class=\"weather-card one\">\n\t\t\t\t<div class=\"top\">\n\t\t\t\t\t<div class=\"wrapper\">\n\t\t\t\t\t\t<div class=\"mynav\">\n\t\t\t\t\t\t\t<a href=\"javascript:;\"><span class=\"lnr lnr-chevron-left\"></span></a>\n\t\t\t\t\t\t\t<a href=\"javascript:;\"><span class=\"lnr lnr-cog\"></span></a>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<h1 class=\"heading\">{{payload.detail}}</h1>\n\t\t\t\t\t\t<h3 class=\"location\">{{payload.location}}</h3>\n\t\t\t\t\t\t<p class=\"temp\">\n\t\t\t\t\t\t\t<span class=\"temp-value\">{{payload.tempc}}</span>\n\t\t\t\t\t\t\t<span class=\"deg\">0</span>\n\t\t\t\t\t\t\t<a href=\"javascript:;\"><span class=\"temp-type\">C</span></a>\n\t\t\t\t\t\t</p>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"bottom\">\n\t\t\t\t\t<div class=\"wrapper\">\n\t\t\t\t\t\t<ul class=\"forecast\">\n\t\t\t\t\t\t\t<a href=\"javascript:;\"><span class=\"lnr lnr-chevron-up go-up\"></span></a>\n\t\t\t\t\t\t\t<li class=\"active\">\n\t\t\t\t\t\t\t\t<span class=\"date\">Humidity</span>\n\t\t\t\t\t\t\t\t<span class=\"lnr lnr-drop condition\">\n\t\t\t\t\t\t\t\t\t<span class=\"temp\">{{payload.humidity}}</span>\n\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<span class=\"date\">Wind Speed</span>\n\t\t\t\t\t\t\t\t<span class=\"lnr lnr-flag condition\">\n\t\t\t\t\t\t\t\t\t<span class=\"temp\">{{payload.windspeed}}</span>\n\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\n\t\n\t</div>\n</div>\n</body>\n\t<style>\n\t@import url(\"https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900\");\n@import url(\"https://cdn.linearicons.com/free/1.0.0/icon-font.min.css\");\nbody {\n  font-family: 'Montserrat', sans-serif;\n  background: #112233;\n}\n\n.weather-card {\n  margin: 60px auto;\n  height: 740px;\n  width: 450px;\n  background: #fff;\n  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);\n  overflow: hidden;\n}\n.weather-card .top {\n  position: relative;\n  height: 570px;\n  width: 100%;\n  overflow: hidden;\n  background: url(\"https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg\") no-repeat;\n  background-size: cover;\n  background-position: center center;\n  text-align: center;\n}\n.weather-card .top .wrapper {\n  padding: 30px;\n  position: relative;\n  z-index: 1;\n}\n.weather-card .top .wrapper .mynav {\n  height: 20px;\n}\n.weather-card .top .wrapper .mynav .lnr {\n  color: #fff;\n  font-size: 20px;\n}\n.weather-card .top .wrapper .mynav .lnr-chevron-left {\n  display: inline-block;\n  float: left;\n}\n.weather-card .top .wrapper .mynav .lnr-cog {\n  display: inline-block;\n  float: right;\n}\n.weather-card .top .wrapper .heading {\n  margin-top: 20px;\n  font-size: 35px;\n  font-weight: 400;\n  color: #fff;\n}\n.weather-card .top .wrapper .location {\n  margin-top: 20px;\n  font-size: 21px;\n  font-weight: 400;\n  color: #fff;\n}\n.weather-card .top .wrapper .temp {\n  margin-top: 20px;\n}\n.weather-card .top .wrapper .temp a {\n  text-decoration: none;\n  color: #fff;\n}\n.weather-card .top .wrapper .temp a .temp-type {\n  font-size: 85px;\n}\n.weather-card .top .wrapper .temp .temp-value {\n  display: inline-block;\n  font-size: 85px;\n  font-weight: 600;\n  color: #fff;\n}\n.weather-card .top .wrapper .temp .deg {\n  display: inline-block;\n  font-size: 35px;\n  font-weight: 600;\n  color: #fff;\n  vertical-align: top;\n  margin-top: 10px;\n}\n.weather-card .top:after {\n  content: \"\";\n  height: 100%;\n  width: 100%;\n  display: block;\n  position: absolute;\n  top: 0;\n  left: 0;\n  background: rgba(0, 0, 0, 0.5);\n}\n.weather-card .bottom {\n  padding: 0 30px;\n  background: #fff;\n}\n.weather-card .bottom .wrapper .forecast {\n  overflow: hidden;\n  margin: 0;\n  font-size: 0;\n  padding: 0;\n  padding-top: 20px;\n  max-height: 155px;\n}\n.weather-card .bottom .wrapper .forecast a {\n  text-decoration: none;\n  color: #000;\n}\n.weather-card .bottom .wrapper .forecast .go-up {\n  text-align: center;\n  display: block;\n  font-size: 25px;\n  margin-bottom: 10px;\n}\n.weather-card .bottom .wrapper .forecast li {\n  display: block;\n  font-size: 25px;\n  font-weight: 400;\n  color: rgba(0, 0, 0, 0.25);\n  line-height: 1em;\n  margin-bottom: 30px;\n}\n.weather-card .bottom .wrapper .forecast li .date {\n  display: inline-block;\n}\n.weather-card .bottom .wrapper .forecast li .condition {\n  display: inline-block;\n  vertical-align: middle;\n  float: right;\n  font-size: 25px;\n}\n.weather-card .bottom .wrapper .forecast li .condition .temp {\n  display: inline-block;\n  vertical-align: top;\n  font-family: 'Montserrat', sans-serif;\n  font-size: 20px;\n  font-weight: 400;\n  padding-top: 2px;\n}\n.weather-card .bottom .wrapper .forecast li .condition .temp .deg {\n  display: inline-block;\n  font-size: 10px;\n  font-weight: 600;\n  margin-left: 3px;\n  vertical-align: top;\n}\n.weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {\n  font-size: 20px;\n}\n.weather-card .bottom .wrapper .forecast li.active {\n  color: rgba(0, 0, 0, 0.8);\n}\n.weather-card.rain .top {\n  background: url(\"http://img.freepik.com/free-vector/girl-with-umbrella_1325-5.jpg?size=338&ext=jpg\") no-repeat;\n  background-size: cover;\n  background-position: center center;\n}\n\n\t</style>\n</div>","output":"str","x":490,"y":780,"wires":[["104107b3.00a398"]]},{"id":"104107b3.00a398","type":"http response","z":"ae3cbc99.c1cb9","name":"Http response ","statusCode":"","headers":{},"x":780,"y":780,"wires":[]},{"id":"7253089f.6b8458","type":"http in","z":"ae3cbc99.c1cb9","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":110,"y":560,"wires":[["2fbb939c.9f448c"]]},{"id":"2df1c8a0.99fb78","type":"http in","z":"ae3cbc99.c1cb9","name":"","url":"/icp","method":"get","upload":false,"swaggerDoc":"","x":800,"y":440,"wires":[["2e181fa7.62115","3775c5c1.53b24a"]]},{"id":"d0a1bd1e.3603c","type":"http response","z":"ae3cbc99.c1cb9","name":"","statusCode":"","headers":{},"x":1390,"y":420,"wires":[]},{"id":"2e181fa7.62115","type":"file in","z":"ae3cbc99.c1cb9","name":"image","filename":"C:\\Users\\Gulnoza\\Pictures\\icp51.jpg","format":"","chunk":false,"sendError":true,"x":1030,"y":340,"wires":[["33d5a39b.a5273c"]]},{"id":"33d5a39b.a5273c","type":"change","z":"ae3cbc99.c1cb9","name":"set header","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":400,"wires":[["d0a1bd1e.3603c"]]},{"id":"e4e599f2.6b70a8","type":"http response","z":"ae3cbc99.c1cb9","name":"","statusCode":"","headers":{},"x":1390,"y":480,"wires":[]},{"id":"3775c5c1.53b24a","type":"file in","z":"ae3cbc99.c1cb9","name":"image","filename":"C:\\Users\\Gulnoza\\Pictures\\icp52.jpg","format":"","chunk":false,"sendError":true,"x":1030,"y":560,"wires":[["11b0fa6.1559906"]]},{"id":"11b0fa6.1559906","type":"change","z":"ae3cbc99.c1cb9","name":"set header","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":500,"wires":[["e4e599f2.6b70a8"]]},{"id":"1e8c8a52.a62976","type":"websocket out","z":"ae3cbc99.c1cb9","name":"","server":"","client":"ecd761e2.fa1ed","x":1690,"y":740,"wires":[]},{"id":"18f0b40f.b58bac","type":"websocket in","z":"ae3cbc99.c1cb9","name":"","server":"","client":"ecd761e2.fa1ed","x":1680,"y":800,"wires":[["8a88d71a.5f4c18","341aa0d9.e5135"]]},{"id":"8a88d71a.5f4c18","type":"debug","z":"ae3cbc99.c1cb9","name":"Web Socket","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2330,"y":820,"wires":[]},{"id":"f16066c6.3f3928","type":"function","z":"ae3cbc99.c1cb9","name":"getWeather","func":"desc = msg.payload.weather;\nmsg.payload = desc;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":740,"wires":[["1e8c8a52.a62976"]]},{"id":"bc33238f.fb2c1","type":"mqtt in","z":"ae3cbc99.c1cb9","name":"","topic":"noderedlecture/sensor","qos":"2","broker":"e8703888.9a8e88","x":520,"y":140,"wires":[["de805727.c7e978"]]},{"id":"de805727.c7e978","type":"json","z":"ae3cbc99.c1cb9","name":"","property":"payload","action":"","pretty":false,"x":750,"y":140,"wires":[["89cea5d7.71f178","3687aef4.a73a12"]]},{"id":"89cea5d7.71f178","type":"debug","z":"ae3cbc99.c1cb9","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.description","x":2310,"y":140,"wires":[]},{"id":"e3e4d088.7a8a","type":"mqtt out","z":"ae3cbc99.c1cb9","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"bd742f98.cf5d3","x":520,"y":280,"wires":[]},{"id":"d0dd62de.b82ad","type":"function","z":"ae3cbc99.c1cb9","name":"Weather","func":"var weather = \"Weather update for ICP 5 : \"+ msg.payload.weather;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":980,"wires":[["742742e7.731f9c"]]},{"id":"3687aef4.a73a12","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":0,"width":0,"height":0,"name":"","label":"Weather MQTT","format":"{{msg.payload.description}}","layout":"row-spread","x":2340,"y":80,"wires":[]},{"id":"2aaacb08.07c9a4","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":1,"width":0,"height":0,"name":"","label":"Weather Change","format":"{{msg.payload.weather}}","layout":"row-spread","x":2350,"y":280,"wires":[]},{"id":"296c526b.5906ae","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":2,"width":0,"height":0,"name":"","label":"Temperature RBE","format":"{{msg.payload.tempc}}","layout":"row-spread","x":2350,"y":360,"wires":[]},{"id":"2e38b05c.ce19","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":3,"width":0,"height":0,"name":"","label":"Humidity Range","format":"{{msg.payload.humidity}}","layout":"row-spread","x":2340,"y":580,"wires":[]},{"id":"742742e7.731f9c","type":"twitter out","z":"ae3cbc99.c1cb9","twitter":"","name":"Tweet","x":2050,"y":980,"wires":[]},{"id":"341aa0d9.e5135","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":0,"width":0,"height":0,"name":"","label":"Output WebSocket","format":"{{msg.payload}}","layout":"row-spread","x":2350,"y":880,"wires":[]},{"id":"a176112d.35f34","type":"ui_text","z":"ae3cbc99.c1cb9","group":"21d8a015.7e335","order":4,"width":0,"height":0,"name":"","label":"Weather Change","format":"{{msg.payload.weather}}","layout":"row-spread","x":2350,"y":720,"wires":[]},{"id":"ecd761e2.fa1ed","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"e8703888.9a8e88","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"bd742f98.cf5d3","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21d8a015.7e335","type":"ui_group","z":"","name":"ICP 5","tab":"f20cc699.a78ed8","disp":true,"width":"6","collapse":false},{"id":"f20cc699.a78ed8","type":"ui_tab","z":"","name":"ICP 5","icon":"dashboard","disabled":false,"hidden":false}]